  {{#if product}}
    <div class="container product well">
      <h3>{{product.name}}</h3>
      <p>price: ${{product.price}}</p>
      <p>description: {{product.description}}</p>
    </div>
  {{/if}}


