<h2 id="title" class="container col-md-6 col-md-offset-3" style="text-align: center;">Flatiron Ember Store</h2>
<div class="container col-md-6 col-md-offset-3" style="text-align: center;" id="products">
{{!-- wrap the below text in a link to the products index page --}}
  View All Our Amazing Products!
</div>

{{outlet}}
