<h2 id="title" class="container col-md-6 col-md-offset-3" style="text-align: center;">Flatiron Ember Store</h2>
<div class="container col-md-6 col-md-offset-3" style="text-align: center;" id="products">
  {{#link-to 'products'}}View All Our Amazing Products!{{/link-to}}
</div>

{{outlet}}
