<div class="container col-md-4" style="margin-left: 50px;">
  
  <h2 style="text-align: center;">Products</h2>
  
  <ul class="list-group">
  {{!-- start your iteration over each member of the model here --}}
    <li class="list-group-item active">
      <a><h4>
        {{!-- render the product name here --}}
      </h4></a> 
    </li>
  {{!-- end the iteration here --}}
  </ul>

</div>

{{!-- call your component here --}}
   
